/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    margin: 30px !important;
    height: 100% !important;
    display: flex !important;
    align-items: inherit !important;
    font-family: 'Fjalla One', sans-serif;
}

app-root {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  
  
  .counter-main .first-num{
      font-size: 130px;
      color: #e1502e;
  }

  .second-num{
      color: #e1502e;
      font-size: 40px;
  }

  .counter-main {
    font-size: 40px;
    color: #e1502e;
}