<!-- <p>red-circle works!</p> -->
<div style="width: 900px;height: 800px; margin: auto;" class="time-remaing">
    <div class="outer-radius"></div>
    <circle-progress [percent]="percent" [radius]="100" [outerStrokeWidth]="17" [innerStrokeWidth]="21"  [space]="-19"
        [title]="timeString" [showUnits]="false" [outerStrokeColor]="'#e4e4e4'" [outerStrokeLinecap]="'square'" [innerStrokeColor]="'transparent'"
        [titleFontSize]="36" [titleFontWeight]="900" [titleColor]="'#000'"  [unitsFontSize]="36" [showSubtitle]="false" [animation]="true"
        [animationDuration]="3600000" [startFromZero]="false" [responsive]="true">
    </circle-progress>
    <div class="inner-stroke-change-color"></div>
</div>
