<svg viewBox="0 0 220 297">

  <text y="50" transform="translate(100)" font-family="FjallaRegular">
       <tspan x="15" text-anchor="middle"  dy="94" ><tspan fill="#e1502e" font-size="50px">{{countdownObject.minutes}}</tspan><tspan fill="#e1502e" fill-opacity="0.7" font-size="11.5px">:{{countdownObject.seconds}}s</tspan></tspan>
   </text>

  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Back">
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-4"
       width="0.87224144"
       height="12.126801"
       x="127.59354"
       y="43.107903"
       transform="matrix(0,1,1,0,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-7"
       width="0.58394659"
       height="3.4904397"
       x="-91.5168"
       y="78.975609"
       transform="matrix(-0.98120868,0.19294954,0.19294954,0.98120868,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-5"
       width="0.58394659"
       height="3.4904397"
       x="-76.915909"
       y="85.200371"
       transform="matrix(-0.96276315,0.2703463,0.2703463,0.96276315,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-0"
       width="0.58394659"
       height="3.4904397"
       x="-60.164124"
       y="91.328278"
       transform="matrix(-0.93375076,0.3579239,0.3579239,0.93375076,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-36"
       width="0.58394659"
       height="3.4904397"
       x="-40.02446"
       y="97.989624"
       transform="matrix(-0.87608165,0.48216278,0.48216278,0.87608165,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-27-1"
       width="0.58394659"
       height="3.4904397"
       x="-5.4328547"
       y="102.01788"
       transform="matrix(-0.75225119,0.65887643,0.65887643,0.75225119,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-0-0"
       width="0.58394659"
       height="3.4904397"
       x="10.72749"
       y="101.32589"
       transform="matrix(-0.6974885,0.71659597,0.71659597,0.6974885,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-9-6"
       width="0.58394659"
       height="3.4904397"
       x="28.592402"
       y="99.307983"
       transform="matrix(-0.62847876,0.77782675,0.77782675,0.62847876,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-3-3"
       width="0.58394659"
       height="3.4904397"
       x="48.989922"
       y="93.765938"
       transform="matrix(-0.51629382,0.85641152,0.85641152,0.51629382,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-20-2"
       width="0.58394659"
       height="3.4904397"
       x="74.098175"
       y="82.373428"
       transform="matrix(-0.36161652,0.93232692,0.93232692,0.36161652,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-2-0"
       width="0.58394659"
       height="3.4904397"
       x="88.445"
       y="75.420761"
       transform="matrix(-0.28635058,0.95812491,0.95812491,0.28635058,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-3-6"
       width="0.58394659"
       height="3.4904397"
       x="103.59177"
       y="66.350693"
       transform="matrix(-0.19683127,0.98043738,0.98043738,0.19683127,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1"
       width="0.58394659"
       height="3.4904397"
       x="118.7821"
       y="50.869171"
       transform="matrix(-0.0610088,0.99813723,0.99813723,0.0610088,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-5-5"
       width="0.58394659"
       height="3.4904397"
       x="-141.3891"
       y="-175.00056"
       transform="rotate(-168.87503)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-92-5"
       width="0.58394659"
       height="3.4904397"
       x="-146.82178"
       y="-164.00703"
       transform="rotate(-164.31513)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-2-4"
       width="0.58394659"
       height="3.4904397"
       x="-152.73943"
       y="-150.37601"
       transform="rotate(-159.02725)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-8-7"
       width="0.58394659"
       height="3.4904397"
       x="-164.76009"
       y="-128.79703"
       transform="rotate(-151.17325)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-27-9-6"
       width="0.58394659"
       height="3.4904397"
       x="-175.91525"
       y="-92.730446"
       transform="rotate(-138.78576)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-0-7-5"
       width="0.58394659"
       height="3.4904397"
       x="-174.69807"
       y="-79.25238"
       transform="rotate(-134.22585)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-9-3-6"
       width="0.58394659"
       height="3.4904397"
       x="-172.68611"
       y="-63.412998"
       transform="rotate(-128.93798)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-3-6-9"
       width="0.58394659"
       height="3.4904397"
       x="-172.63618"
       y="-39.924103"
       transform="rotate(-121.08397)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-20-1-3"
       width="0.58394659"
       height="3.4904397"
       x="-167.18762"
       y="-11.287295"
       transform="rotate(-111.19951)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-2-2-7"
       width="0.58394659"
       height="3.4904397"
       x="-159.52321"
       y="1.2391071"
       transform="rotate(-106.6396)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-3-9-4"
       width="0.58394659"
       height="3.4904397"
       x="-150.15776"
       y="15.33742"
       transform="rotate(-101.35172)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-3-5"
       width="0.58394659"
       height="3.4904397"
       x="-139.55801"
       y="35.009144"
       transform="rotate(-93.497719)" />
  </g>
  <g
     inkscape:label="BASE"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5"
       width="0.58394659"
       height="3.4904397"
       x="130.586"
       y="35.300255"
       transform="rotate(11.124966)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2"
       width="0.58394659"
       height="3.4904397"
       x="141.01164"
       y="24.005762"
       transform="rotate(15.684875)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9"
       width="0.58394659"
       height="3.4904397"
       x="151.19629"
       y="10.309925"
       transform="rotate(20.97275)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1"
       width="0.58394659"
       height="3.4904397"
       x="158.28218"
       y="-11.15099"
       transform="rotate(28.826752)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-27"
       width="0.58394659"
       height="3.4904397"
       x="164.84398"
       y="-47.122982"
       transform="rotate(41.214239)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-0"
       width="0.58394659"
       height="3.4904397"
       x="168.60843"
       y="-60.880154"
       transform="rotate(45.774148)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-9"
       width="0.58394659"
       height="3.4904397"
       x="170.85255"
       y="-76.758041"
       transform="rotate(51.062023)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-3"
       width="0.58394659"
       height="3.4904397"
       x="165.85631"
       y="-100.08825"
       transform="rotate(58.916025)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-20"
       width="0.58394659"
       height="3.4904397"
       x="155.95235"
       y="-128.66469"
       transform="rotate(68.800495)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-2"
       width="0.58394659"
       height="3.4904397"
       x="153.26227"
       y="-141.45689"
       transform="rotate(73.360404)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-3"
       width="0.58394659"
       height="3.4904397"
       x="148.14575"
       y="-155.57753"
       transform="rotate(78.648279)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7"
       width="0.58394659"
       height="3.4904397"
       x="132.59183"
       y="-175.06552"
       transform="rotate(86.502281)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-5"
       width="0.58394659"
       height="3.4904397"
       x="80.713715"
       y="-218.67593"
       transform="matrix(0.98120868,-0.19294954,-0.19294954,-0.98120868,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-92"
       width="0.58394659"
       height="3.4904397"
       x="71.105751"
       y="-225.20163"
       transform="matrix(0.96276315,-0.2703463,-0.2703463,-0.96276315,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-2"
       width="0.58394659"
       height="3.4904397"
       x="58.620972"
       y="-231.39436"
       transform="matrix(0.93375076,-0.3579239,-0.3579239,-0.93375076,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-8"
       width="0.58394659"
       height="3.4904397"
       x="33.546558"
       y="-237.93764"
       transform="matrix(0.87608165,-0.48216278,-0.48216278,-0.87608165,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-27-9"
       width="0.58394659"
       height="3.4904397"
       x="-5.6384163"
       y="-241.87131"
       transform="matrix(0.75225119,-0.65887643,-0.65887643,-0.75225119,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-0-7"
       width="0.58394659"
       height="3.4904397"
       x="-16.817125"
       y="-241.45844"
       transform="matrix(0.6974885,-0.71659597,-0.71659597,-0.6974885,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-9-3"
       width="0.58394659"
       height="3.4904397"
       x="-30.425959"
       y="-239.47902"
       transform="matrix(0.62847876,-0.77782675,-0.77782675,-0.62847876,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-3-6"
       width="0.58394659"
       height="3.4904397"
       x="-55.769817"
       y="-233.77827"
       transform="matrix(0.51629382,-0.85641152,-0.85641152,-0.51629382,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-20-1"
       width="0.58394659"
       height="3.4904397"
       x="-85.333427"
       y="-222.32542"
       transform="matrix(0.36161652,-0.93232692,-0.93232692,-0.36161652,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-2-2"
       width="0.58394659"
       height="3.4904397"
       x="-94.70594"
       y="-215.63855"
       transform="matrix(0.28635058,-0.95812491,-0.95812491,-0.28635058,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-3-9"
       width="0.58394659"
       height="3.4904397"
       x="-105.60374"
       y="-206.59079"
       transform="matrix(0.19683127,-0.98043738,-0.98043738,-0.19683127,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#d8d8d8;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.01708436;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-3"
       width="0.58394659"
       height="3.4904397"
       x="-125.7483"
       y="-190.92555"
       transform="matrix(0.0610088,-0.99813723,-0.99813723,-0.0610088,0,0)" />
    <path
       style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#e1502e;stroke-width:4.05100012;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:{{timerObject.dasharray}};stroke-dashoffset:{{timerObject.dashoffset}};stroke-opacity:1;marker-start:none;marker-end:none"
       id="path9015"
       sodipodi:type="arc"
       sodipodi:cx="112.96542"
       sodipodi:cy="129.53354"
       sodipodi:rx="68.706909"
       sodipodi:ry="68.32235"
       sodipodi:start="4.6982728"
       sodipodi:end="4.697961"
       sodipodi:open="true"
       d="M 111.99558,61.217996 A 68.706909,68.32235 0 0 1 181.66541,128.5638 68.706909,68.32235 0 0 1 113.94598,197.84893 68.706909,68.32235 0 0 1 44.265588,130.51393 68.706909,68.32235 0 0 1 111.97416,61.2183" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="Black Nodes Large">
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-35-8"
       width="0.87224144"
       height="12.126801"
       x="-23.744925"
       y="100.48296"
       transform="matrix(-0.83208765,0.55464416,0.55464416,0.83208765,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-35-6-4"
       width="0.87224144"
       height="12.126801"
       x="52.900936"
       y="93.81353"
       transform="matrix(-0.5179446,0.85541416,0.85541416,0.5179446,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-35-1-2"
       width="0.8722415"
       height="12.126801"
       x="-167.78256"
       y="-115.63773"
       transform="rotate(-146.31379)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-35-6-9-5"
       width="0.87224144"
       height="12.126801"
       x="-167.4097"
       y="-40.512196"
       transform="rotate(-121.19448)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466"
       width="0.87224144"
       height="12.126801"
       x="111.56131"
       y="59.377831" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-3"
       width="0.87224144"
       height="12.126801"
       x="111.56131"
       y="187.9205" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6"
       width="0.87224144"
       height="12.126801"
       x="127.59353"
       y="-183.24844"
       transform="rotate(90)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7"
       width="0.87224144"
       height="12.126801"
       x="127.59354"
       y="-54.795452"
       transform="rotate(90)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-35"
       width="0.87224144"
       height="12.126801"
       x="164.60339"
       y="-25.064281"
       transform="rotate(33.686209)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-35-6"
       width="0.87224144"
       height="12.126801"
       x="170.14098"
       y="-99.814888"
       transform="rotate(58.80552)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-35-1"
       width="0.87224144"
       height="12.126801"
       x="20.565748"
       y="-241.18495"
       transform="matrix(0.83208765,-0.55464416,-0.55464416,-0.83208765,0,0)" />
    <rect
       style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.03891917;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-35-6-9"
       width="0.87224144"
       height="12.126801"
       x="-50.169662"
       y="-234.14062"
       transform="matrix(0.5179446,-0.85541416,-0.85541416,-0.5179446,0,0)" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer4"
     inkscape:label="Progress " />
</svg>
