/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 30px !important;
    height: 100% !important;
    display: flex !important;
    align-items: inherit !important;
    font-family: 'Spartan', sans-serif;
    font-weight: bold !important;
}

app-root {
    width: 100% !important; 
}

.time-remaing {
    position: relative;
    
}
// .time-remaing:before {
//     position: absolute;
//     content: 'TIME REMAINING';
//     font-size: 26px;
//     color: #cdcdcd;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: auto;
//     line-height: 30px;
//     height: 238px;
//     text-align: center;
//     z-index: 99;
// }
.outer-radius{
    width: 100%;
    height: 100%;
    position: absolute;
}

.outer-radius:before {
    position: absolute;
    content: "";
    width: 705px;
    height: 705px;
    border: 10px solid #fff;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 999999;
}

.outer-radius:after {
    position: absolute;
    content: '';
    width: 575px;
    height: 575px;
    border: 13px solid #fff;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 99;
}

svg{
    position: relative !important;
    z-index: 99999 !important;
}
.inner-stroke-change-color{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.inner-stroke-change-color:before {
    position: absolute;
    content: '';
    background: linear-gradient(
-45deg
, #ff6b40, #ff9c9a );
    width: 711px;
    height: 711px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.inner-stroke-change-color:after {
    position: absolute;
    content: '';
    width: 590px;
    height: 600px;
    border-radius: 100%;
    background: #fff;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

path{
    stroke-linecap:butt;
    transform: translate(0px, 0px);
    stroke-dasharray: none;
}